In [ ]:
#Comprehensions

#This concept is used to write the code in single line instead of writing in Multiple Lines

#There are 2 types of Comprehensions

 # - `List Comprehensions `
 # - `Dictionary Comprehensions`

#List Comprehensions

#Syntax:1 -> one forloop and one print condition

 #    [<print_area> <forloop>]
#ESyntax:2 -> One forlopp and one If and one print condition

  #    [<Print_Area>     <for loop>   <if_condition>]
#Syntax:3 -> One forloop one if and one else and there prints

 #  [<if_print> <if_condition> <else> <else_print> <forloop>]

In [ ]:
print(['Good Morning' for i in range(1,6)])

['Good Morning', 'Good Morning', 'Good Morning', 'Good Morning', 'Good Morning']

In [ ]:
print([f'Even : {i}' for i in range(11,16) if i%2 == 0])

['Even : 12', 'Even : 14']

In [ ]:
print([f'Even : {i}' if i%2 == 0 else f'Odd : {i}' for i in range(11,16)])

['Odd : 11', 'Even : 12', 'Odd : 13', 'Even : 14', 'Odd : 15']

In [ ]:
#dictionary comphersion
fruits = {'apple':100,'banana':200,'carrot':300}

print({i:fruits[i]*2 for i in fruits})

{'apple': 200, 'banana': 400, 'carrot': 600}

In [5]:
fruits = {'apple':100,'banana':200,'carrot':300}

print({i:fruits[i]*3 for i in fruits if fruits[i] > 150})

{'banana': 600, 'carrot': 900}

In [6]:
print({i:(j*3 if j>150 else j*2) for i,j in fruits.items()})

{'apple': 200, 'banana': 600, 'carrot': 900}

In [ ]:
#recussion
# Recurssion = Means a Function calling itself again and again

In [7]:
def sharuk(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * sharuk(n-1)


sharuk(5) # calling the function

120