In [ ]:
#funcion
def sunil():
  print('string')

sunil()

string

In [ ]:
#with return
def sunil():
  return 'string'

a = sunil()
print(a)

string

In [ ]:
#without function
def sunil():
  print('srting')

a = sunil()
print(a)

srting
None

In [ ]:
#Functions -> Functions are used for reusability

# reusability -> will write the logic only one time but we are going to use the logic again and again

# There are 2 types of Functions

# Built_in_functions
# User defined functions

In [19]:
def sharuk():    # non parameter
  print(f'Good Morning')



sharuk() #calling

Good Morning

In [18]:
def kiran(a,b): # parameter function
  for i in range(a,b):
    if i % 2 == 0:
      print(f'Even : {i}')


kiran(11,16) # calling

Even : 12
Even : 14

In [ ]:
#difference between local varibales and global varibales

In [17]:
r = 100 # global varibales

def kiran():
  print(f'I am from Inside the function : {r}')

kiran() # calling

print(f'I am from Outside the function : {r}')

I am from Inside the function : 100
I am from Outside the function : 100

In [16]:
def kiran():
  x = 500 # local varbale
  print(f'I am from Inside the function : {x}')

kiran() # calling

print(f'I am from Outside the function : {x}')

I am from Inside the function : 500

NameError: name 'x' is not defined

In [ ]:
#modularization using function
#single*-one arugenment
#two arugnments-**
#lambda function
#map
#filter
#reduce
#map with filter
#filter with map
#reduce with map and filter

In [15]:
#modularzation
def sharuk(a,b):
  print(a+b)



sharuk(10,20) # calling the function

30

In [14]:
#* argus
def kiran(*a):
  for i in a:
    print(i)



kiran([10,20,30],[1,2,3])

[10, 20, 30]
[1, 2, 3]

In [13]:
# ** argus
def sharuk(**a):
  print(a)
  print(type(a))



sharuk(apple = 100,banana = 200,carrot=300)

{'apple': 100, 'banana': 200, 'carrot': 300}
<class 'dict'>

In [11]:
# Lambda fuction
#Lambda function is known as Ananymous Function
#Ananymous Function Means -> A function without a function name
#syntax of lambda function : lambda arguments : expression

In [10]:
 f = lambda a,b : a + b

print(f(10,20))

30

In [9]:
n = 2

f = lambda x,y : x*y

for i in range(1,11):
  print(f'{n} * {i} = {f(n,i)}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [8]:
# map syntax = map(function_name,arguments)

def fun(b):
  if b%2 == 0:
    return b



sol = map(fun,[10,11,12,13,14,15])
print(list(sol))

[10, None, 12, None, 14, None]

In [7]:
#filter syntax = filter(function_name,arguments)
def fun(b):
  if b%2 == 0:
    return b


sol = filter(fun,[10,11,12,13,14,15])
print(list(sol))

[10, 12, 14]

In [5]:
#reduce syntax = functools.reduce(function_name,arguments)
import functools
f = [1,4,7,9,3,6]

a = functools.reduce(lambda x,y :x + y , [1,4,7,9,3,6])
print(a)

30

In [3]:
#map with filter
a = map(lambda x:x+20 , filter(lambda x:x%2==0,[10,11,21,22,26,36,35]))
print(list(a))

[30, 42, 46, 56]

In [2]:
#filter with map
a = filter(lambda x:x%2==0 , map(lambda x:x+20,[10,11,21,22,26,36,35]))
print(list(a))

[30, 42, 46, 56]

In [6]:
#reduce with map and filter
a = functools.reduce(lambda x,y:x+y,map(lambda x:x+20 , filter(lambda x:x%2==0,[10,11,21,22,26,36,35])))
print(a)

174